@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.loading-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  text-align: center;
  min-height: 300px;

  p {
    margin-top: 20px;
    font-size: 1.1rem;
    color: get-color(neutral, 500);
    font-weight: 500;
  }
}
