<div class="nav-wrapper">
  <nav class="navbar">
    <div class="nav-content">
      <div class="logo">_cinema.log()</div>
      <div class="nav-links">
        <a href="#">About</a>
        <a href="#">Reviews</a>
        <a href="#">Search</a>
        <a href="#" class="sign-in">Sign in</a>
      </div>
    </div>
  </nav>
</div>

<div class="nav-icons">
  <div class="icon">
    <lord-icon
      src="https://cdn.lordicon.com/fjvfsqea.json"
      trigger="hover"
      stroke="bold"
      state="hover-unfold"
      style="width: 30px; height: 30px"
    >
    </lord-icon>
    <p>About</p>
  </div>
  <div class="icon">
    <lord-icon
      src="https://cdn.lordicon.com/cvwrvyjv.json"
      trigger="hover"
      stroke="bold"
      state="hover-wink"
      style="width: 30px; height: 30px"
    >
    </lord-icon>
    <p>Reviews</p>
  </div>
  <div class="logo icon">C.L</div>
  <div class="icon">
    <lord-icon
      src="https://cdn.lordicon.com/wjyqkiew.json"
      trigger="hover"
      stroke="bold"
      style="width: 30px; height: 30px"
    >
    </lord-icon>
    <p>Search</p>
  </div>
  <div class="icon">
    <lord-icon
      src="https://cdn.lordicon.com/kdduutaw.json"
      trigger="hover"
      stroke="bold"
      style="width: 30px; height: 30px"
    >
    </lord-icon>
    <p>Profile</p>
  </div>
</div>
