<div class="nav-wrapper">
  <nav class="navbar">
    <div class="nav-content">
      <a
        class="logo"
        routerLink="home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >_cinema.log()
      </a>
      <div class="nav-links">
        <a
          routerLink="review"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Review
        </a>
        <a
          routerLink="search"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Search
        </a>
        @if (auth.currentUser) {
        <a
          [routerLink]="['/profile', auth.currentUser.id]"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Profile
        </a>
        } @else {
        <a
          class="sign-in"
          routerLink="login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Sign in
        </a>
        }
      </div>
    </div>
  </nav>
</div>

<div class="nav-icons">
  <div class="icon">
    <a routerLink="review" ariaCurrentWhenActive="page">
      <lord-icon
        routerLinkActive="active"
        src="https://cdn.lordicon.com/cvwrvyjv.json"
        trigger="click"
        stroke="bold"
        state="hover-wink"
        style="width: 30px; height: 30px"
      >
      </lord-icon>
      <p>Reviews</p>
    </a>
  </div>
  <div class="icon">
    <a routerLink="home" ariaCurrentWhenActive="page">
      <lord-icon
        routerLinkActive="active"
        src="https://cdn.lordicon.com/jeuxydnh.json"
        trigger="click"
        stroke="bold"
        state="hover-wink"
        style="width: 30px; height: 30px"
      >
      </lord-icon>
      <p>About</p>
    </a>
  </div>
  <div class="icon">
    <a routerLink="search" ariaCurrentWhenActive="page">
      <lord-icon
        routerLinkActive="active"
        src="https://cdn.lordicon.com/wjyqkiew.json"
        trigger="click"
        stroke="bold"
        style="width: 30px; height: 30px"
      >
      </lord-icon>
      <p>Search</p>
    </a>
  </div>
  @if(auth.currentUser) {
  <div class="icon">
    <a
      [routerLink]="['/profile', auth.currentUser.id]"
      ariaCurrentWhenActive="page"
    >
      <lord-icon
        routerLinkActive="active"
        src="https://cdn.lordicon.com/kdduutaw.json"
        trigger="click"
        stroke="bold"
        style="width: 30px; height: 30px"
      >
      </lord-icon>
      <p>Profile</p>
    </a>
  </div>
  } @else {
  <div class="icon">
    <a routerLink="login" ariaCurrentWhenActive="page">
      <lord-icon
        routerLinkActive="active"
        src="https://cdn.lordicon.com/kdduutaw.json"
        trigger="click"
        stroke="bold"
        style="width: 30px; height: 30px"
      >
      </lord-icon>
      <p>Login</p>
    </a>
  </div>
  }
</div>
