/* You can add global styles to this file, and also import other style files */
@use "variables" as *;
@use "mixins" as *;

@import "primeicons/primeicons.css";

:root {
  --lord-icon-primary: #{get-color(neutral, 500)};
  --lord-icon-secondary: #{get-color(neutral, 700)};

  // Custom PrimeNG theme colors to match app theme
  --p-primary-50: #{get-color(primary, 100)};
  --p-primary-100: #{get-color(primary, 200)};
  --p-primary-200: #{get-color(primary, 300)};
  --p-primary-300: #{get-color(primary, 400)};
  --p-primary-400: #{get-color(primary, 500)};
  --p-primary-500: #{get-color(primary, 600)};
  --p-primary-600: #{get-color(primary, 700)};
  --p-primary-700: #{get-color(primary, 800)};
  --p-primary-800: #{get-color(primary, 900)};
  --p-primary-900: #{get-color(primary, 900)};

  --p-surface-0: #{get-color(backgroundColor)};
  --p-surface-50: #{get-color(primary, 900)};
  --p-surface-100: #{get-color(primary, 800)};
  --p-surface-200: #{get-color(primary, 700)};
  --p-surface-300: #{get-color(secondary, 700)};
  --p-surface-400: #{get-color(secondary, 600)};
  --p-surface-500: #{get-color(secondary, 500)};
  --p-surface-600: #{get-color(neutral, 800)};
  --p-surface-700: #{get-color(neutral, 700)};
  --p-surface-800: #{get-color(neutral, 600)};
  --p-surface-900: #{get-color(neutral, 500)};
  --p-surface-950: #{get-color(neutral, 400)};

  --p-content-color: #{get-color(neutral, 500)};
  --p-content-hover-color: #{get-color(neutral, 400)};
  --p-text-color: #{get-color(neutral, 500)};
  --p-text-hover-color: #{get-color(neutral, 400)};
  --p-text-muted-color: #{get-color(neutral, 600)};

  --p-border-color: #{get-color(neutral, 800)};
  --p-hover-surface: #{get-color(primary, 700)};
}

html {
  background-color: #{get-color(backgroundColor)};
}

body {
  margin: 0;
}

* {
  font-family: "Teachers", serif;
  font-optical-sizing: auto;
}
