name: CI Pipeline

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache-dependency-path: cinema.log.server.golang/go.sum
      
      - name: Install dependencies
        working-directory: ./cinema.log.server.golang
        run: go mod download
      
      - name: Run tests
        working-directory: ./cinema.log.server.golang
        run: go test ./internal/... -v -cover
      
      - name: Run tests with coverage report
        working-directory: ./cinema.log.server.golang
        run: |
          go test ./internal/... -coverprofile=coverage.out
          go tool cover -func=coverage.out
